<!DOCTYPE html>
  <html>
    <head>
		<!--Etiquetas del tipo de alfabeto-->
		<meta charset="utf-8"/>
		<meta http-equiv="X-UA-Compatible" content="IE=edge"/>
		<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
		<!--Links de materialize y el css/less-->
		<link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet"/>
		<link href="../Documents/css/materialize.css" type="text/css" rel="stylesheet" media="screen,projection"/>
		<link href="../Documents/css/main.css" type="text/css" rel="stylesheet" media="screen,projection"/>
		<!--Etiquetas referetes al encabezado de la página-->
		<title>Los Troyanos</title>
		<link rel="shortcut icon" href="../Sources/Troyanos casco.png" type="image/png"/>
		<!--Opciones de icono "Troyanos casco.png","Troyanos.jpg","Troya 1.jpg","Oceania_fauna"-->
    </head>
    <body class="white">
		<!--Inicio del maquetado-->
		<!--Barra de Navegación-->
		<nav class="blue" role="navigation">
			<div class="nav-wrapper container">
				<a href="https://www.speciesplus.net/" class="brand-logo center">Animales de América Central</a>
				<ul class="left hide-on-med-and-down">
					<li><a class="dropdown-button" href="#!" data-activates="Ingreso">¡Empieza ya!<i class="material-icons right">arrow_drop_down</i></a></li>
				</ul>
				<!--Pestañas en movil-->
				<ul class="side-nav" id="Mobile">
					<li><a class="dropdown-button" href="#!" data-activates="">¡Empieza ya!<i class="material-icons right">arrow_drop_down</i></a></li>					
				</ul>
				<a href="#" data-activates="Mobile" class="button-collapse"><i class="material-icons">menu</i></a> 
			</div>
		</nav>
		<!--Dropdown de arriba-->
		<ul id="Ingreso" class="dropdown-content">
			<li><a data-target="ModalIniciar"><!--<i class="tiny material-icons">vpn_key</i>-->Iniciar Sesión</a></li>
			<li class="divider"></li>
			<li><a class="waves-effect waves-light" href="#ModalRegistrar"><!--<i class="tiny material-icons">mode_edit</i>-->Registrarse</a></li>
		</ul>
		<!--Un parallax-->
		<div class="parallax-container">
			<div class="parallax"><img src="../Sources/Puente.jpg"></div>
		</div>
		<!--Cuerpo de la página-->
		<div class="container center-align">
			<!--Introduccion-->
			<br/>
			<div class="row">
				<div class="col l12">
					<h5>Bienvenido a troyanos.com, en esta página encontraras un sistema capaz de mostrarte 
					los animales de oceanía, ¿Qué esperas para probarlo?
					</h5>
				</div>
			</div>
			<!--Un carusel-->
			<div class="carousel">
				<a class="carousel-item" href=""><img src="../Sources/Animal1.jpg" width="500" height="200"></a>
				<a class="carousel-item" href=""><img src="../Sources/Animal2.jpg" width="500" height="200"></a>
				<a class="carousel-item" href=""><img src="../Sources/Animal3.jfif" width="500" height="200"></a>
				<a class="carousel-item" href=""><img src="../Sources/Animal4.jpg" width="500" height="200"></a>
				<a class="carousel-item" href=""><img src="../Sources/Animal5.jpg" width="500" height="200"></a>
			</div>
		</div>
		<!--Otro parallax-->
		<div class="parallax-container">
			<div class="parallax"><img src="../Sources/isla.jpg"></div>
		</div>
		<div class="container center-align">
		<br/>
		<br/>
			<!--Fila Explicativa-->
			<div class="row">
				<div class="col s12 m4">
					<i class="large tiny material-icons">note_add</i>
					<br/>
					<h3>
						Útil para taxonomistas
					</h3>
					Con este sistema seráz capaz de modificar y añadir las especies de América Central
				</div>
				<div class="col s12 m4">
					<i class="large tiny material-icons">perm_identity</i>
					<br/>
					<h3>
						Abierto al público
					</h3>
					Cualquier persona puede consultar informacion importante sobre su animal favorito
				</div>
				<div class="col s12 m4">
					<i class="large tiny material-icons">schedule</i>
					<br/>
					<h3>
						Ahorra tiempo
					</h3>
					Intuitivo y con interfaz agradable, ¡muy fácil de usar!		
				</div>
			</div>
			<!--Fin fila-->
			<!--Modals-->
			<!--Iniciar sesión-->
			<div id="ModalIniciar" class="modal">
				<form class="col s12" method="POST" action="../Templates/main.php">
				<div class="modal-content">
					<h4>Iniciar Sesion</h4>
					<!--Formularios para iniciar sesión-->
					<div class="row">
					<!--NO_cuenta-->
						<div class="input-field col s12">
							<i class="material-icons prefix">account_circle</i>
							<input id="cuenta" name="cuenta" type="text" class="validate tooltipped" data-length="9" required pattern="^[0-9]{9}" data-position="bottom" data-delay="50" data-tooltip="Solo se admiten números, forzozamente 9"/>
							<label for="cuenta" data-error="Checa tus datos" data-success="¡Bien!">Número de cuenta</label>
						</div>
					</div>
					<!--Contraseña-->
					<div class="row">
						<div class="input-field col s12">
							<i class="material-icons prefix">vpn_key</i>
							<input id="contraseña" name="contra" type="password" class="validate tooltipped" data-length="15" required pattern="{8,15}" data-position="bottom" data-delay="50" data-tooltip="Mínimo 8 caracteres, máx 15"/><!--para el patern ^[a-z]A-Z0-9_\.\-\@{8,15}-->
							<label for="contraseña" data-error="Checa tus datos" data-success="¡Bien!">Contraseña</label>
						</div>
					</div>
				</div>
				<div class="modal-footer">
				  <input id="entrar" type="submit" class="waves-effect waves-green btn-flat" value="Enviar"  onclick="valida_envia()" />
				</div>
				</form>
			</div>
			<div id="ModalRegistrar" class="modal">
				<form class="col s12" method="POST" action="../Templates/registro.php">
				<div class="modal-content">
					<h4>Registro</h4>
					<!--Formularios para iniciar sesión-->
					<div class="row">
						<!--No_cuenta-->
						<div class="input-field col s12">
							<i class="material-icons prefix">account_circle</i>
							<input id="cuenta" name="cuentanueva" type="text" class="validate tooltipped" data-length="9" required pattern="^[0-9]{9}" data-position="bottom" data-delay="50" data-tooltip="Solo se admiten números, forzozamente 9"/>
							<label for="cuenta" data-error="Checa tus datos" data-success="¡Bien!">Número de cuenta</label>
						</div>
					</div>
					<!--Nombre-->
					<div class="row">
						<div class="input-field col s12">
							<i class="material-icons prefix">assignment</i>
							<input id="nombre" name="nombrenueva" type="text" class="validate tooltipped" data-length="15" required pattern="{8,15}" data-position="bottom" data-delay="50" data-tooltip="Mínimo 8 caracteres, máx 15"/><!--para el patern ^[a-z]A-Z0-9_\.\-\@{8,15}-->
							<label for="nombre" data-error="Checa tus datos" data-success="¡Bien!">Nombre</label>
						</div>
					</div>
					<!--Contraseña-->
					<div class="row">
						<div class="input-field col s12">
							<i class="material-icons prefix">vpn_key</i>
							<input id="contraseña" name="contranueva" type="password" class="validate tooltipped" data-length="15" required pattern="{8,15}" data-position="bottom" data-delay="50" data-tooltip="Mínimo 8 caracteres, máx 15"/><!--para el patern ^[a-z]A-Z0-9_\.\-\@{8,15}-->
							<label for="contraseña" data-error="Checa tus datos" data-success="¡Bien!">Contraseña</label>
						</div>
					</div>
				</div>
				<div class="modal-footer">
				  <input id="entrar" type="submit" class="waves-effect waves-green btn-flat" value="Enviar"  onclick="valida_envia()" />
				</div>
				</form>
			</div>
		</div>
		<br/>
		<!--Pie de página-->
		<footer class=" blue page-footer">
			<div class="container">
				<div class="row">
					<div class="col s12 l6">
						<h5 class="white-text">¿Te interesa saber más?</h5>
						<ul>
							<li><a class="grey-text text-lighten-3" href="#!">Link 1</a></li>
							<li><a class="grey-text text-lighten-3" href="#!">Link 2</a></li>
							<li><a class="grey-text text-lighten-3" href="#!">Link 3</a></li>
							<li><a class="grey-text text-lighten-3" href="#!">Link 4</a></li>
						</ul>
						<!--Boton de créditos-->
						<a class="waves-effect waves-light btn" onclick="$('.tap-target').tapTarget('open')">Créditos</a>
					</div>
					<!--Créditos-->
					<div class="col s12 l6">
						<p>
							<h5 class="white-text">Material usado en esta página</h5>
							<ul>
								<li><a class="white-text" href="http://materializecss.com">Materialize</a></li>
								<li><a class="white-text" href="https://jquery.com/">JQuery</a></li>
								<li><a class="white-text" href="https://www.mysql.com/">MYSQL</a></li>
								<li><a class="white-text" href="https://www.apachefriends.org/es/index.html">Xampp</a></li>
								<li><a class="white-text" href="https://github.com/">Github</a></li>
							</ul>
						</p>
						<div class="fixed-action-btn" style="bottom: 45px; right: 24px;">
							<a id="menu" class="btn btn-floating btn-large cyan"><i class="material-icons">menu</i></a>
						</div>
						<div class="tap-target-wrapper open" style="right: -248px; bottom: -227px; position: fixed;">
							<div class="tap-target cyan" data-activates="menu">
								<div class="tap-target-content white-text" style="width: 356px; height: 300px; top: 0px; right: 0px; bottom: 0px; left: 0px; padding: 56px; vertical-align: bottom;">
									<h5>Hecho por estudiantes de Prepa 6 de la ETEC</h5>
									<p class="white-text">
									<ul>
										<li>Martínez Martos Arturo Cesar</li>
										<li>Beltrán Villanueva Ibzán</li>
										<li>Marquez Valdez Luis</li>
									</ul>
									</p>
								</div>
							</div>
							<div class="tap-target-wave" style="top: 244px; left: 244px; width: 112px; height: 112px;">
								<a class="btn btn-floating btn-large cyan tap-target-origin"><i class="material-icons">menu</i></a>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="footer-copyright">
				<div class="container">
					© 2017 Copyright Text
					<a class="grey-text text-lighten-4 right" href="https://www.speciesplus.net/">Visita Species+</a>
				</div>
			</div>
        </footer>
		<!--Fin del maquetado-->
		<!--Scrips que se necesitaran-->
		<script type="text/javascript" src="../Documents/js/jquery-2.2.3.js"></script>
		<script type="text/javascript" src="../Documents/js/materialize.js"></script>
		<script type="text/javascript" src="../Documents/js/main.js"></script>
		<!--<script type="text/javascript" src="../Documents/js/less.js"></script>-->
    </body>
  </html>